.envelope {
    max-width: 60vw;
    height: 80vh;
    margin: 0 auto;
}

.envelope .fas {
    font-size: 150px;
    color: rgb(23, 23, 31);
}

.envelope .fa-clipboard {
    padding-right: 50px;
}

.home {
    background-color: rgb(23, 23, 31);
    font-family: Flower;
}

.home img:first-of-type {
    display: block;
    margin: 0 auto;
    width: 98vw;
    height: 92vh;
    object-fit: cover;
    object-position: right;
}

.home h1 {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 3rem;
}

.home .arrow {
    position: absolute;
    top: 300px;
    left: 480px;
    font-size: 3rem;
}

.notes-home, .mail-home, .books-home {
    font-size: 5rem;
    position: absolute;
    top: 500px;
}

.notes-home {
    left: 200px;
}

.mail-home {
    left: 462px;
}

.books-home {
    left: 724px;
}
