@import url(../../mailApp/styles/mail.css);
@import url(../../keepApp/styles/keep.css);
@import url(../../bookApp/styles/book.css);
@import url(./mediaquerries.css);

/* FONTS */

@font-face {
    font-family: Ubuntu-regular;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: Ubuntu-regular;
    
}

body {
    background: rgb(173, 202, 241);
    min-height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    cursor: pointer;
}

textarea {
    height: auto;
    width: auto;
}

/* HELPERS */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.column {
    flex-flow: column;
}

.justify-center {
    justify-content: center;
}

/* NAVBAR */

.nav-bar {
    background-color: rgb(23, 23, 31);
    padding: 20px;
    position: relative;
}

.nav-bar a, .fa-th {
    color: rgba(216, 221, 239, 1);
}

.nav-bar .clipboard, .envelopeN {
    position: absolute;
    right: 20px;
    top: -20px;
}

.nav-bar .downClip {
    top: 70px;
    animation-name: downClip;
    animation-duration: 4s
}

.nav-bar .downEnv {
    top: 100px;
    animation-name: downEnv;
    animation-duration: 4s
}

.search-input {
    text-align: center;
    font-size: 1.2rem;
    background-color: inherit;
    border: none;
    color: rgb(174, 179, 199);
}

.search-input::placeholder {
    color: rgb(174, 179, 199);
}

/* notification  */

.notification {
    background-color: #fff;
    position: fixed;
    right: 0px;
    bottom: 0px;
    border-radius: 3px;
}

.notification h2 {
    padding: 0 10px;
}

.notification span {
    padding: 2px;
}

@keyframes downClip {
    from {
        top: 0px;
    }
    to {
        top: 70px
    }
}

@keyframes downEnv {
    from {
        top: 0px;
    }
    to {
        top: 100px
    }
}

/* HOMEPAGE */

.envelope {
    max-width: 60vw;
    height: 80vh;
    margin: 0 auto;
}

.envelope .fas {
    font-size: 150px;
    color: rgb(23, 23, 31);
}

.envelope .fa-clipboard {
    padding-right: 50px;
}

.home {
    background-color: rgb(23, 23, 31);
}

.home img:first-of-type {
    display: block;
    margin: 0 auto;
    width: 98vw;
    height: 92vh;
    object-fit: cover;
    object-position: right;
}

.home h1 {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 3rem;
}

.home .arrow {
    position: absolute;
    top: 300px;
    left: 480px;
    font-size: 3rem;
}

.notes-home, .mail-home, .books-home {
    font-size: 5rem;
    position: absolute;
    top: 500px;
}

.notes-home {
    left: 200px;
}

.mail-home {
    left: 462px;
}

.books-home {
    left: 724px;
}

