@import url(../../mailApp/styles/mail.css);
@import url(../../keepApp/styles/keep.css);
@import url(../../bookApp/styles/book.css);
@import url(./homepage.css);
@import url(./helpers.css);
@import url(./mediaquerries.css);


/* FONTS */

@font-face {
    font-family: Ubuntu-regular;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Flower;
    src: url(../fonts/IndieFlower-Regular.ttf);
}



/* NAVBAR */

.nav-bar {
    background-color: rgb(23, 23, 31);
    padding: 20px;
    /* position: relative; */
}

.links-container{
    background-color: rgb(23, 23, 31);
    width: 100px;
    position: absolute;
    right: 0px;
    top: 85px;
    border-radius:3px ;
}

.links-container div{
    padding: 10px 0;
}

.logo{
    font-family: Flower;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.nav-bar a, .fa-th {
    color: rgba(216, 221, 239, 1);
}

.nav-bar .clipboard, .envelopeN {
    position: absolute;
    right: 20px;
    top: -20px;
}

.nav-bar .downClip {
    top: 70px;
    animation-name: downClip;
    animation-duration: 4s
}

.nav-bar .downEnv {
    top: 100px;
    animation-name: downEnv;
    animation-duration: 4s
}

.search-input {
    text-align: center;
    font-size: 1.2rem;
    background-color: inherit;
    border: none;
    color: rgb(174, 179, 199);
}

.search-input::placeholder {
    color: rgb(174, 179, 199);
}

/* notification  */

.notification {
    background-color: #fff;
    position: fixed;
    right: 0px;
    bottom: 0px;
    border-radius: 3px;
}

.notification h2 {
    padding: 0 10px;
}

.notification span {
    padding: 2px;
}

@keyframes downClip {
    from {
        top: 0px;
    }
    to {
        top: 70px
    }
}

@keyframes downEnv {
    from {
        top: 0px;
    }
    to {
        top: 100px
    }
}

/* HOMEPAGE */





