@media (max-width: 950px) {
    .side-bar-btns {
        flex-direction: row;
        transform: translateX(-150px);
        position: fixed;
        transition: transform .3s
    }
    .mobile-side-open {
        transform: translateX(0);
        transform: translateY(50px);
        width: 100%;
        background-color: rgba(216, 221, 239, 1);
        height: 100vh;
        left: 0;
    }
    .mobile-side-open p {
        padding: 40px;
    }
    .side-bar .compose {
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 5;
        overflow: hidden;
        width: 50px;
    }
    .side-bar .compose::before{

        margin-right: 10px;
        height: 0;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        right: 20px;
    }
    .compose-mail {
        right: 0;
        width: 100%;
        height: 86vh;
    }
    .home h1 {
        left: 100px;
        font-size: 2.5rem;
    }
    .home .arrow {
        top: 280px;
        left: 350px;
        font-size: 2.5rem;
    }
    .notes-home, .mail-home, .books-home {
        top: 400px;
        font-size: 4rem;
    }
    .notes-home {
        left: 150px;
    }
    
    .mail-home {
        left: 330px;
    }
    
    .books-home {
        left: 480px;
    }

    .mail-app{
        margin-block-start:0 ;
        flex-direction: column;
    }
    .mail-list{
        width:100% ;
        margin: 0;
    }
}

@media (max-width: 650px) {
    .home h1 {
        left: 50px;
        font-size: 1.8rem;
    }
    .home .arrow {
        top: 260px;
        left: 200px;
        font-size: 1.8rem;
    }
    .notes-home, .mail-home, .books-home {
        font-size: 3rem;
        top: 350px
    }
    .notes-home {
        left: 80px;
    }
    
    .mail-home {
        left: 190px;
    }
    
    .books-home {
        left: 300px;
    }
}

@media (max-width: 500px) {
    .mail-preview div:first-child {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .preview-content p:last-child {
        font-size: 0.7rem;
    }
    .preview-content p:first-of-type {
        display: none;
    }
    .mail-details-from {
        flex-direction: column;
    }
    .mail-list-header h1 {
        font-size: 0.8rem
    }
    .mail-detail-icons {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 55px;
        background-color: rgb(23, 23, 31);
        height: 150px;
        width: 100px;
        right: 0;
        display: none;
    }
    .menu-btns-active{
        display: flex;
    }
    .elipsis {
        display: block;
    }
    .mail-detail-icons i {
        top: 300px;
        padding: 10px 0;
    }

    .mail-details>p{
        padding: 20px 50px;
    }
   

    .home h1 {
        left: 25px;
        font-size: 1.2rem;
    }
    .home .arrow {
        top: 240px;
        left: 140px;
        font-size: 1.2rem;
    }
    .notes-home, .mail-home, .books-home {
        top: 300px;
        font-size: 1.5rem;
    }
    .notes-home {
        left: 50px;
    }
    
    .mail-home {
        left: 130px;
    }
    
    .books-home {
        left: 210px;
    }
}