

.mail-app .side-bar{
    min-width:150px;
}
.mail-list{
    flex: 1;
}

.mail-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.unread{
    font-weight: bold;
}


/* COMPOSE MAIL */
.compose-mail{
    position: absolute;
    bottom: 0;
    height: 250px;
}
.compose-mail textarea{
    flex: 1;
}


/* MAIL DETAIL */
.mail-details{
    flex: 1;
}